/* Ensure the container stretches to the entire viewport */
.card-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; /* Align to the top */
  padding: 20px;
  box-sizing: border-box;
}

/* Dashboard container with flexible layout */
.dashboard {
  display: flex;
  flex-direction: row; /* Make the layout row-based */
  gap: 20px; /* Space between input and output section */
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  min-height: 70%;
  box-sizing: border-box;
}

/* Input section style */
.input-section {
  border-right: 1px solid #ddd; /* Border to separate the sections */
  padding-right: 20px;
  width: 40%;
}

/* Output section style */
.output-section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
}

/* Title of output section */
h1 {
  text-align: center;
  color: #000000;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Table Styling */
.output-table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

.output-table th,
.output-table td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px 0px;
}

.output-table th {
  padding: 10px;
  background-color: #f4f4f4;
  font-weight: bold;
}

.output-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.output-table tr:hover {
  background-color: #f1f1f1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column; /* Stack input and output sections vertically */
    padding: 10px;
  }

  .input-section,
  .output-section {
    width: 100%;
    border-right: none; /* Remove border on mobile */
    padding-right: 0;
    padding-left: 0;
  }

  .output-table th,
  .output-table td {
    padding: 7px;
    font-size: 0.7rem;
  }

  .output-table th{
    padding: 9px;
  }

  .output-table-title{
    font-size: 1.2rem;
  }
}
